.App {
  text-align: center;
  background-color: #fafafa;

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  width: 5%;
}

.nav {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.cart {
  width: 10%;
  margin-right: 10px;
  cursor: pointer;
}
.cart img {
  width: 30%;
}

.sign-up {
  width: 7%;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 20px;
}

.sign-in {
  width: 7%;
  border-radius: 5px;
  font-size: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
