.App {
  text-align: center;
  min-height: 100vh;
  background-color: #bebdbd;

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  width: 5%;
}

.nav {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.cart {
  width: 10%;
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  text-decoration: none;
}

.cart img {
  width: 40%;
}

.cart button {
  width: 25px;
  height: 20px;
  padding: 0;
  border-radius: 50px;
  background-color: #ee4d2d;
  color: white;
  border: none;
}

.sign-up {
  width: 8%;
  margin-top: -7px;
}

.sign-up button {
  padding: 5px;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
}

.sign-in {
  width: 8%;
  margin-top: -7px;
}

.sign-in button {
  padding: 5px;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
}


.form {
  width: 20%;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgb(231, 231, 231);
  margin: auto;
  text-align: start;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0);
}

#email {
  width: 90%;
}

#password {
  width: 90%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
