.product-list {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter-section {
    width: 20%;
    padding-top: 50px;
    text-align: start;
}

.filter-title {
    margin: 0;
    margin-bottom: 20px;
}

.product-section {
    width: 80%;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    flex-wrap: wrap;
}

.product-item {
    width: 23%;
    background-color: white;
    margin-left: 2%;
    margin-bottom: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0);
}

.product-item:hover {
    box-sizing: border-box;
    border: #ee4d2d 1px solid;
}

.product-img {
    width: 100%;
}

.product-title {
    margin-top: 10px;
    height: 50px;
    font-weight: bold;
}

.product-price {
    color: red;
    text-align: end;
    font-size: 20px;
    margin: 5px 20px;
}

.product-buy {
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px;
    background-color: #ee4d2d;
}

